body {
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 0;
	background-color: black;
	color: silver;
}

nav {
	background-color: greenyellow;
	padding: 10px;
}

nav a {
	margin-right: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

main {
	padding: 20px;
}
